/******************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>              *
 * @CreatedDate           : 2024-09-23 19:42:43                               *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>              *
 * @LastEditDate          : 2024-09-29 19:07:39                               *
 *****************************************************************************/

/* SUMMARY
  * Variables
    * Colors
    * Paddings
    * Others
  * Reset
  * Font size
  * Page padding
*/

/* Variables */
body {
  /* Colors */
  --c-black: black;
  /***/

  /* Padding */
  --pad-light: 8px;
  --pad-med: 16px;
  --pad-high: 24px;
  --pad-big: 32px;
  /***/

  /* Others */
  --radius: 8px;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  --transition: ease 0.4s;
  /***/
}
/***/

/* Reset */
* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}
/***/

/* Font size */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
/***/

Body {
  padding: var(--pad-big) var(--pad-high);
}
