/******************************************************************************
 * @Author                : Jbristhuille<jbristhuille@gmail.com>              *
 * @CreatedDate           : 2024-09-29 20:24:45                               *
 * @LastEditors           : Jbristhuille<jbristhuille@gmail.com>              *
 * @LastEditDate          : 2024-09-29 20:24:45                               *
 *****************************************************************************/

.input {
  display: flex;
  flex-direction: column;
  gap: var(--pad-light);

  label {
    font-weight: bold;
  }
}
